<app-shell>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" />
  </mat-form-field>
  <span><mat-checkbox [(ngModel)]="approver">Approver Role</mat-checkbox></span>
  <button
    mat-raised-button
    class="login-btn"
    (click)="signup()"
    [disabled]="!email || !password || !name || loading"
  >
    SIGNUP
  </button>
  <p>OR</p>
  <button mat-raised-button class="signup-btn" routerLink="/auth/login">
    LOGIN
  </button>
</app-shell>
