:host {
  padding: 30px;
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create {
  display: block;
  margin: 30px auto;;
  background-color: steelblue;
  font-size: 30px;
  padding: 10px 40px;
  letter-spacing: 2px;
  color: #fff;
}

.card {
  padding: 28px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  margin: 24px 0px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px 12px 0px 0px;
}

.add-users {
  background-color: steelblue;
  color: #fff;
}

.user-flow {
  padding: 20px 0px 40px 0px;
}

.users {
  display: flex;
  align-items: center;
}

.user {
  margin: 0px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
  padding: 5px 12px;
  border-radius: 20px;
  border: 2px solid #a8a8a8;
  background-color: #e0e0e0;
  cursor: default;
}

.symbol {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.add-level {
  display: block;
}
