/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dfdfdf;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button:focus,
button:active,
.indexed {
  outline: 0 !important;
  -moz-outline-style: none !important;
  outline-style: none !important;
  outline: none !important;
}